@page "/CreateOrder"
@using BlazorShop.Resources
@using Client.HttpClients
@using Client.Models
@using Client.Services
@using global::Shared.DTOs
@inject ShopHttpClient ShopHttpClient
@inject AppStateService AppStateService
@inject CartService CartService
@inject NavigationManager NavigationManager
@inject IToastService ToastService

<h1>CreateOrder</h1>

@if (Cart.CartItems.Any())
{
    <p>
        <br />
        <strong>Cart:</strong>
    </p>
    @foreach (var item in Cart.CartItems)
    {
        <div class="cart-item">
            <strong>Product:</strong> @item.ProductName
            <br />
            <strong>Price:</strong> @item.Price EUR
            <br />
            <strong>Quantity:</strong> @item.Quantity
            <br />
            <hr />
        </div>
    }

    <div class="cart-summary">
        Total price: @Cart.TotalPrice EUR
        <br />
        Total quantity: @Cart.TotalQuantity
    </div>

    <div class="independent-form-contents">
        <EditForm Model="@NewOrder" OnValidSubmit="@HandleValidSubmit">
            <div class="independent-form-errors">
                <DataAnnotationsValidator />
                <ValidationSummary />
            </div>

            <div class="editor-label">
                <label>Customer</label>
            </div>
            <div class="editor-field">
                <InputSelect @bind-Value="NewOrder.CustomerId">
                    <option value="">Select customer ...</option>
                    @foreach (var customer in Customers)
                    {
                        <option value="@customer.Id">@customer.Name</option>
                    }
                </InputSelect>
            </div>

            <div class="editor-label">
                <label>City</label>
            </div>
            <div class="editor-field">
                <InputText @bind-Value="NewOrder.City" style="width:400px" />
            </div>

            <div class="editor-label">
                <label>Street</label>
            </div>
            <div class="editor-field">
                <InputText @bind-Value="NewOrder.Street" style="width:400px" />
            </div>
            < br />

            <div class="independent-form-submit">
                <input type="submit" class="button" value="Save" />
            </div>
        </EditForm>
    </div>
}
else
{
    <div class="no-items-in-cart">No items in cart</div>
}

@code {
    public Cart Cart = new Cart();
    public List<CustomerDto> Customers = new List<CustomerDto>();
    public CreateOrderDto NewOrder = new CreateOrderDto();

    protected override async Task OnInitializedAsync()
    {
        await CartService.RefreshShoppingCart();
        Cart = await CartService.GetShoppingCart();
        Customers = await ShopHttpClient.GetCustomers();
        AppStateService.SetCartSummary(Cart.TotalQuantity, Cart.TotalPrice);

        NewOrder.OrderItems = new List<CreateOrderItemDto>();
        foreach (var item in Cart.CartItems)
        {
            NewOrder.OrderItems.Add(new CreateOrderItemDto
            {
                ProductId = item.ProductId,
                Quantity = item.Quantity
            });
        }
    }

    private async Task HandleValidSubmit()
    {
        await ShopHttpClient.CreateOrder(NewOrder);

        await CartService.EmptyCart();
        Cart = await CartService.GetShoppingCart();
        AppStateService.SetCartSummary(Cart.TotalQuantity, Cart.TotalPrice);

        ToastService.ShowSuccess(Messages.OrderSaved);
        NavigationManager.NavigateTo($"/Orders");
    }
}
